@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root{
  --primary-color: #303841;
  --secondary-color: #F6C90E;
  --tertiary-color: #EEEEEE;
  --primary-light-color: #3A4750;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto Mono', monospace;
}
